{:deps {thheller/shadow-cljs {:mvn/version "2.18.0"}
        reagent/reagent      {:mvn/version "1.1.1"}
        devcards/devcards    {:mvn/version "0.2.7"}
        com.taoensso/timbre  {:mvn/version "5.2.1"}
        com.taoensso/encore  {:mvn/version "3.21.0"}
        com.taoensso/sente   {:mvn/version "1.16.2"}
        binaryage/devtools   {:mvn/version "1.0.6"}
        cljs-bean/cljs-bean  {:mvn/version "1.8.0"}}}
