{:deps {thheller/shadow-cljs {:mvn/version "2.11.14"}
        reagent/reagent      {:mvn/version "1.0.0"}
        devcards/devcards    {:mvn/version "0.2.7"}
        com.taoensso/timbre  {:mvn/version "5.1.0"}
        com.taoensso/encore  {:mvn/version "3.10.1"}
        com.taoensso/sente   {:mvn/version "1.16.0"}
        binaryage/devtools   {:mvn/version "1.0.2"}
        cljs-bean/cljs-bean  {:mvn/version "1.6.0"}}}