{:deps   true
 :builds {:lib {:target     :browser
                :output-dir "resources/toto/public/js"
                :modules    {:toto {:entries [toto.core]}}}
          :app {:target     :browser
                :output-dir "resources/toto/public/js"
                :modules    {:app {:entries [toto.app]
                                   :init-fn toto.app/init}}
                :devtools   {:after-load toto.app/init
                             :preloads   [devtools.preload]}}}}
